################################################################################
#                                                                              #
#                         ░▒▒▓▓▓                ▒▒▒▒▒░                         #
#                     ▒▒▒▒▒▒   ▓▓▓▓▒▒      ▒▒▒▒▒▒   ░▒▒▒▒▒                     #
#                   ▒▒▒▒▒▒      ▒▓▒▒▒▒▒   ▓▒▒▒▒▒      ▒▒▒▒▒▒                   #
#                  ▒▒▒▒▒▒▒       ▒▒▒▒▒▒▒░ ▒▒▒▒▒       ▒▒▒▒▒▒▒                  #
#                  ▒▒▒▒▒▒▒        ▒▒▒▒▒░▒▒ ▒▒▒▒        ▒▒▒▒▒▒                  #
#                  ▒▒▒▒▒          ▒▒▒▒▒ ▒▒▒▒ ▒▒         ▒▒▒▒▒                  #
#                                 ▒▒▒▒▒░▒▒▒▒▒▒▒                                #
#                                  ▒▒▒▒▒░▒▒▒▒▒▒▒▒▒                             #
#                           ▒▒▒▒▒▒ ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒                         #
#                    ░░░░░▒    ░▒▒ ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒                     #
#                  ▒░░░░░░       ▒ ▒▒▒▒▒▒▒  ▒▒▒▒▒▒▒▒░░▒▒▒▒▒▒                   #
#                 ░░░░░░░          ░░░▒▒▒▒      ░░░░░░░▒▒▒▒▒▒                  #
#                 ░░░░░░░          ░░░░░▒▒         ░░░░░▒▒▒▒▒▒                 #
#                 ░░░░░░░         ░░░░░░░ ░            ░░▒▒▒▒▒                 #
#                 ░░░░░░░         ░░░░░░░ ░░           ░ ░▒▒▒▒                 #
#                 ░░░░░░░         ░░░░░░ ░░░░          ░░░░░▒▒                 #
#                 ░░░░░░░        ░░░░░░░░░░░░░         ░░░▒▒░░                 #
#                  ░░░░░░░      ░░░░░░░  ░░░░░░░      ░░░▒▒▒                   #
#                    ░░░░░░    ░░░░░        ░░░░░░  ░░░░░▒░                    #
#                         ░░░░░░                ░░░░░░                         #
#                                                                              #
#         A12S Factory - Environment Variables Configuration Template          #
#                                                                              #
#                                  ##########                                  #
#                                                                              #
# Package: aion-solutions/a12sfactory-project                                  #
# Maintainer: Aïon Solutions <https://www.aion-solutions.lu>                   #
# Documentation: See README.md for detailed information about each variable    #
#                                                                              #
# Security Note:                                                               #
# Do NOT commit the `.env` file to version control. It may contains sensitive  #
# information like passwords and API keys. Only commit `env.example` with fake #
# values.                                                                      #
#                                                                              #
# For more information, see: README.md (Environment Variables Configuration)   #
#                                                                              #
################################################################################

# The project name, which is used to define other variables,
# such as database name or project URL.
PROJECT_NAME=janam

# Certificates, Docker and IDE configuration.
#AION_CERTIFICATES_PATH=~/Projects/aion-docker/traefik-db/config
#DOCKER_IMAGE_PHP=
#DOCKER_IMAGE_NGINX=
#PHP_IDE_SERVER_NAME=

# NGINX configuration.
#NGINX_ALLOWED_PHP_FILES=index|core/install
#FASTCGI_EXTRA_DIRECTIVES=

# Drupal installation from a Web browser.
#DRUPAL_INSTALL_ADMIN_ACCOUNT_NAME=
#DRUPAL_INSTALL_ADMIN_ACCOUNT_MAIL=
#DRUPAL_INSTALL_DEFAULT_TIMEZONE=
#DRUPAL_INSTALL_DISABLE_UPDATE=

# Additional settings for the project.
