@use "../../abstract/mixins";

.ui-dialog {
  background-color: var(--secondary);
  border: 0 none;
  box-shadow: rgba(0, 0, 0, .35) 0 .625rem 1.25rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 20vh;
  max-height: 80vh;
  max-width: 100%;
  //min-width: 50vw;
  overflow: auto;
  width: 520px !important;

  &:before {
    backdrop-filter: blur(5px);
    border-radius: 5px;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .3s ease-in-out;
    z-index: -1;
  }

  .ui-dialog-titlebar {
    background: transparent;
    border: 0;
    margin-bottom: .5rem;
    margin-top: .8rem;
    padding: 1.2rem 48px 0;

    .ui-dialog-title {
      color: var(--or-1);
      font-size: 9px;
      font-weight: 500;
      letter-spacing: 3px;
      margin-bottom: 8px;
      overflow: unset;
      padding-right: 2rem;
      text-transform: uppercase;
      white-space: unset;
      width: 100%;
    }

    .ui-dialog-titlebar-close {
      background: transparent;
      border: 0;
      right: .3rem;
      top: 1.6rem;
      transform: translateY(-50%);

      @include mixins.media-breakpoint-up(lg) {
        right: 1rem;
        top: 50%;
      }

      .ui-button-icon {
        background: unset;
        overflow: unset;
        text-indent: 0;

        @include mixins.stack-icon('close') {
          height: 1.4rem;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 1.4rem;

          @include mixins.media-breakpoint-up(lg) {
            height: 2rem;
            width: 2rem;
          }
        };
      }
    }
  }

  #drupal-modal.ui-dialog-content {
    padding: 0 48px 1.5rem;
  }

  .ui-dialog-buttonpane {
    border: 0;
    padding: 0.8rem 48px 1.5rem;

    &:before {
      border-bottom: 1px solid var(--primary);
      width: 80%;
    }

    .ui-dialog-buttonset.form-actions {
      float: unset;
      text-align: center;
    }

    button {
      font-size: 10px;
    }
  }

  .fieldgroup {
    legend {
      color: var(--headings-color);
      font-family: var(--headings-font-family);
      font-size: var(--h5-font-size);
      font-weight: var(--headings-font-weight);
      line-height: var(--h5-line-height);
      margin-bottom: var(--headings-margin-bottom);
    }
  }

  .ui-dialog-titlebar:after,
  .ui-dialog-buttonpane:before {
    border-bottom: 1px solid var(--gray);
    content: '';
    margin-bottom: .5rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  [data-drupal-messages] {
    text-align: center;

    .btn-primary {
      color: var(--white);

      &:hover {
        color: var(--primary);
      }
    }
  }

  form [data-drupal-messages] {
      display: none;
  }
}

.ui-widget {
  font-family: var(--font-family-base), sans-serif;
  font-size: var(--font-size-base);
}
