//
// Root font sizes
//


$font-size-base: (
  "xs": .75rem,
  "md": 1rem,
);
$font-size-sm: .875rem;
$font-size-lg: (
  "xs": 1rem,
  "md": 1.125rem,
);
$font-size-xl: (
  "xs": 1.3rem,
  "md": 1.6rem,
);
