@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "../variables/stack-icons-settings";
$stack-icon-default-color: black !default;



@mixin stack-icon-base($color: $stack-icon-default-color, $display: inline-block, $height: var(--stack-icon-height), $width: var(--stack-icon-width)) {
  background-color: $color;
  display: $display;
  height: $height;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
  overflow: hidden;
  width: $width;
}

@mixin stack-icon-replace(/*$pseudo*/) {
  text-indent: 200%;
  white-space: nowrap;

//  @if $pseudo {
//    &:#{$pseudo} {
//      position: absolute;
//      height: 100%;
//      text-align: center;
//      top: 0;
//    }
//  }
}

/**
 * Stack Icons mixin.
 *
 * @param {String} $icon - Name of icon.
 * @param {String} $pseudo [before] - `before` | `after` The pseudo element to place the icon in.
 * @todo Allow `$pseudo: false` to be declared so we don't have to use a pseudo element if we don't want to.
 * @param {Bool} $text-replace [false]
 * @param {String} $height
 * @param {String} $width
 * @param {String} $color [inherit]
 * @param {String} $display [inline-block]
 *
 * @example scss
 * .class {
 *   @include stack-icon('close');
 * }
 */
@mixin stack-icon(
  $icon: null,
  $pseudo: before,
  $color: $stack-icon-default-color,
  $height: var(--stack-icon-height),
  $width: var(--stack-icon-width),
  $text-replace: false,
  $display: inline-block
) {
  @if map.has-key(stack-icons-settings.$stack-icon--names , $icon) {
    @if $pseudo {
      &:#{$pseudo} {
        content: '';
        @include stack-icon-base($color, $display, $height, $width);
        @include stack-icon-mask($icon);
        @content;
      }
    }
    @else {
      @include stack-icon-base($color, $display, $height, $width);
      @include stack-icon-mask($icon);
      @content;
    }

    // Replace text with icon, like classic sprites
    @if $text-replace {
      @include stack-icon-replace($pseudo);
    }
  }
}

/**
 * Stack Icons mask mixin.
 */
@mixin stack-icon-mask($icon: null) {
  @if map.has-key(stack-icons-settings.$stack-icon--names , $icon) {
    mask-image: var(#{'--' + map.get(stack-icons-settings.$stack-icon--names, $icon) + '-url'});
  }
}

/**
 * Write icon properties from a map.
 *
 * @param {Map} $map - Map of properties.
 */
@mixin stack-icon-from-map($map) {
  @if meta.type-of($map) == 'string' {
    @include stack-icon($icon: $map);
  }
  @else if meta.type-of($map) == 'map' {
    $keys: (icon, pseudo, color, height, width, text-replace, display);
    $args: ();
    @each $key, $value in $map {
      @if list.index($keys, $key) {
        $args: map.set($args, $key, $value);
      }
    }
    @include stack-icon($args...);
  }
}
