@use "sass:map";
@use "sass:meta";

@use "abstract/variables/theme/root"; 
@use "abstract/variables/theme/root-font-sizes"; 
@use "abstract/variables/theme/headings"; 
@use "abstract/functions";
@use "abstract/functions/variables-helpers" as helpers;
@use "abstract/mixins";

$variables-per-breakpoint: ();

$variables-per-breakpoint: helpers.gather-root-variables($variables-per-breakpoint, meta.module-variables("root")); 
$variables-per-breakpoint: helpers.gather-root-variables($variables-per-breakpoint, meta.module-variables("root-font-sizes")); 
$variables-per-breakpoint: helpers.gather-root-variables($variables-per-breakpoint, meta.module-variables("headings")); 

:root {
  @if map.has-key($variables-per-breakpoint, "") {
    @include helpers.print-css-variables(map.get($variables-per-breakpoint, ""));
    $variables-per-breakpoint: map.remove($variables-per-breakpoint, "");
  }

  @each $breakpoint in mixins.get-breakpoint-keys() {
    @if map.has-key($variables-per-breakpoint, $breakpoint) {
      @include mixins.media-breakpoint-up($breakpoint) {
        @include helpers.print-css-variables(map.get($variables-per-breakpoint, $breakpoint));
      }
    }
  }
}
