//
// Options
//

$enable-rounded: true;
$enable-pointer-cursor-for-buttons: true;
$enable-borders: true;
$enable-background-colors: true;
$enable-transitions: true;
$enable-prefers-reduced-motion-media-query: true;
$enable-negative-margins: false;
$enable-display-print: false;

// Flexbox
$enable-flex-fill: false;
$enable-flex-reverse: false;
