$stack-icon-base-class: "stack-icon";
$stack-icon-prefix: "stack-icon-";

$stack-icon--names: (
  account: "stack-icon-account",
  android: "stack-icon-android",
  app-store: "stack-icon-app-store",
  arrow-down: "stack-icon-arrow-down",
  arrow-left: "stack-icon-arrow-left",
  arrow-right: "stack-icon-arrow-right",
  arrow-up: "stack-icon-arrow-up",
  burger: "stack-icon-burger",
  close: "stack-icon-close",
  copy: "stack-icon-copy",
  download: "stack-icon-download",
  drag: "stack-icon-drag",
  edit: "stack-icon-edit",
  email: "stack-icon-email",
  exclamation-mark: "stack-icon-exclamation-mark",
  eye-close: "stack-icon-eye-close",
  eye-open: "stack-icon-eye-open",
  heart: "stack-icon-heart",
  info: "stack-icon-info",
  instagram: "stack-icon-instagram",
  linkedin: "stack-icon-linkedin",
  locator: "stack-icon-locator",
  phone: "stack-icon-phone",
  pinterest: "stack-icon-pinterest",
  plus: "stack-icon-plus",
  print: "stack-icon-print",
  refresh: "stack-icon-refresh",
  rss: "stack-icon-rss",
  search: "stack-icon-search",
  share: "stack-icon-share",
  trash: "stack-icon-trash",
  youtube: "stack-icon-youtube",
);
